@font-face {
  font-family: "breuercondensed";
  src: url("fonts/breuercondensed-bold-webfont.woff2") format("woff2"), url("fonts/breuercondensed-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "breuercondensed";
  src: url("fonts/breuercondensed-medium-webfont.woff2") format("woff2"), url("fonts/breuercondensed-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "breuercondensed";
  src: url("fonts/breuercondensed-regular-webfont.woff2") format("woff2"), url("fonts/breuercondensed-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "breuercondensed";
  src: url("fonts/breuercondensed-light-webfont.woff2") format("woff2"), url("fonts/breuercondensed-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "breuercondensed";
  src: url("fonts/breuercondensed-bolditalic-webfont.woff2") format("woff2"), url("fonts/breuercondensed-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "breuercondensed";
  src: url("fonts/breuercondensed-mediumitalic-webfont.woff2") format("woff2"), url("fonts/breuercondensed-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "breuercondensed";
  src: url("fonts/breuercondensed-lightitalic-webfont.woff2") format("woff2"), url("fonts/breuercondensed-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}